@import "colors";
@import "fonts";


body {
	background-size: cover;
	background-image: url("/images/route 66.jpeg");
	color: $white;
	font: 100% $font-stack;
	font-size: 1.5em;
}


.pacCoast {

	body {
	background-size: cover;
	background-image: url("/images/Pacific Coast Highway 1.jpg");
	}
}


.homePage, .highwayPage {

	a:link {
		color: $red;
	}

	a:visited {
		color: $blue;
	}

	a:hover {
		color: $fuchsia;
	}
}


