body {
  background-size: cover;
  background-image: url("/images/route 66.jpeg");
  color: #FFF;
  font: 100% "Droid Sans", sans-serif;
  font-size: 1.5em; }

.pacCoast body {
  background-size: cover;
  background-image: url("/images/Pacific Coast Highway 1.jpg"); }

.homePage a:link, .highwayPage a:link {
  color: #FF0000; }

.homePage a:visited, .highwayPage a:visited {
  color: #0000FF; }

.homePage a:hover, .highwayPage a:hover {
  color: #FF00FF; }
