body {
  background-size: cover;
  color: #FFF;
  font: 100% "Droid Sans", sans-serif;
  font-size: 1.5em; }

.divImage {
  background-size: cover;
  background-repeat: no-repeat; }

.homePage a:link, .highwayPage a:link {
  color: #FF0000; }

.homePage a:visited, .highwayPage a:visited {
  color: #0000FF; }

.homePage a:hover, .highwayPage a:hover {
  color: #FF00FF; }
